{% extends "base.html" %}
{% block title %}Register System{% endblock %}

{% block content %}

{% if message  %}
    <div class="alert alert-secondary" role="alert">
        <p>{{ message }}</p>
    </div>
{% endif %}
<!--additionally modified part-->

<link href="/static/css/signinstyle.css" rel="stylesheet">

<div class="wrapper">
  <h2>Registration</h2>
  <form action="" method="post">
    <div class="input-box">
      <!--<label for="Fullname">Full name</label>-->
      <input name="fullname" id="inputFullName" placeholder="Enter full name" required>
      <!--<small id="fullName" class="form-text text-muted">Please enter your full name (First name and Last name)</small>-->
    </div>
    <div class="input-box">
      <!--<label for="InputEmail">Email address</label>-->
      <input name="email" id="InputEmail" placeholder="Enter email" required>
      <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
    </div>
    <div class="input-box">
      <!--<label for="InputPassword">Password</label>-->
      <input type="password" name="password1" id="InputPassword" placeholder="Password" required>
    </div>
    <div class="input-box">
      <!--<label for="InputPassword2">Repeat Password</label>-->
      <input type="password" name="password2" id="InputPassword2" placeholder="Repeat Password" required>
    </div>
    <div class="policy">
      <input type="checkbox">
      <h3>I accept all terms & condition</h3>
    </div>
    <div class="input-box button">
      <button type="submit">Register Now</button>
    </div>
    <div class="text">
      <h3>Already have an account? <a href="#">Login now</a></h3>
    </div>
  </form>
</div>
<!--additionally modified part-->

{% endblock %}
