{% extends "base.html" %}
{% block title %}Login System{% endblock %}

{% block content %}

{% if message  %}
<!--This part also modified from Alert Box-->
      <div class="alert alert-error">
          <div class="alert-icon">
              <span class="material-symbols-outlined">Oops!</span>
          </div>
          <div class="alert-text">
              {{ message }}
          </div>
      </div>
{% endif %}
<!--Alert Box styles-->
<link href="/static/css/alertboxstyle.css" rel="stylesheet">

<!--Added Login part-->
<link href="/static/css/loginstyle.css" rel="stylesheet">

<div class="container">
  <input type="checkbox" id="check">
  <div class="login form">
    <header>Login</header>
    <form action="" method="post">
      <input type="text" input name="email" id="InputEmail" placeholder="Enter your email">
      <input type="password" name="password" id="InputPassword" placeholder="Enter your password">
      <a href="#">Forgot password?</a>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
<!--Added Login part-->

<!--Alert Box JavaScript-->
<script src="/static/js/alertbox.js"></script>

{% endblock %}

