{% extends "base.html" %}
{% block title %}Login System{% endblock %}

{% block content %}

{% if message  %}
    <div class="alert alert-secondary" role="alert">
        <p>{{ message }}</p>
    </div>
{% endif %}

<!--additionally modified part-->
<link href="/static/css/loginstyle.css" rel="stylesheet">

<div class="container">
  <input type="checkbox" id="check">
  <div class="login form">
    <header>Login</header>
    <form action="" method="post">
      <input type="text" input name="email" id="InputEmail" placeholder="Enter your email">
      <input type="password" name="password" id="InputPassword" placeholder="Enter your password">
      <a href="#">Forgot password?</a>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
<!--additionally modified part-->

{% endblock %}

